@import '../../../node_modules/bootstrap/scss/bootstrap';

.jumbotron {
  background-image: url('../../assets/images/hero.jpeg');
  background-position: center;

  h1, p, hr {
    color: $white;
  }

  p {
    text-shadow: 2px 2px 5px #000;
  }
}