@import '~bootstrap/scss/bootstrap.scss';

footer.footer {
  width: 100%;
  background-color: $dark;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  .social {
    margin: 20px 0;
    font-size: 2rem;

    &-icon {
      margin: 20px;
      color: $red;
    }
  }

  .copyright {
    margin-bottom: 20px;
  }
}